.title-label{
   -fx-font-size: 70px;
   -fx-alignment: center;
}


.gamecolor{
   -fx-background-color: lightblue;
}

.gamecolor1{
   -fx-background-color: lightgrey;
}


.custom-label {
   -fx-alignment: center;
   -fx-background-color: #bbb;
   -fx-border-color:black;
   -fx-min-height: 60px;
   -fx-min-width: 65px;
   -fx-border-insets: .55px
   
}


