.title-label{
   -fx-font-size: 70px;
   -fx-alignment: center;
}


.gamecolor{
   -fx-background-color: #1261B7;
   
}

.gamecolor1{
   -fx-background-color: #000000;
   -fx-border-color: #e8d102;
   
}


.custom-label {
   -fx-alignment: center;
   -fx-background-color: #bbb;
   -fx-border-color:black;
   -fx-min-height: 60px;
   -fx-min-width: 65px;
   -fx-border-insets: .55px
   
}

.border{
	-fx-border-color: black;
    -fx-border-width: 5px 3px 5px 3px;
	-fx-border-style: solid;
	
}


